<tr id="<%= dom_id team %>">
  <td>
    <%= team.id %>
  </td>

  <td>
    <%= team.name %>
  </td>

  <td>
    <%= team.description %>
  </td>

  <td>
    <%= team.created_at %>
  </td>

  <td>
    <%= team.updated_at %>
  </td>

  <td>
    <%= team.division.name %>
  </td>

  <td>
    <%= team.team_lead.name %>
  </td>

  <td>
  <%= button_to "Edit", edit_team_path(team), :method => "get" %> <br>
  <%= button_to "Delete", team, method: :delete %>
  </td>
</tr>
