<p style="color: green"><%= notice %></p>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>

<h1>Employees</h1>

<div id="employees">
<table style="width: 90%">
<tr>
  <% @employee_attributes.each do |attr| %>
  <th> <%= attr %> </th>
  <% end %>
  <th>
    <%= "Options" %>
  </th>
  <% @employees.each do |employee| %>
    <%= render employee %>

  <% end %>
</tr>
</table>
</div>

<br>
<%= link_to "New employee", new_employee_path %>
