<tr class="hover:bg-gray-100" id="<%= dom_id target %>">
  <td class="py-4 px-6 text-sm font-medium text-green-900 whitespace-nowrap">
    <%= target.id %>
  </td>

  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
    <%= target.title %>
  </td>

  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
    <%= target.description %>
  </td>

  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
    <%= target.start_date %>
  </td>

  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
    <%= target.finish_date %>
  </td>

  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
    <%= target.status == 0 ? "In Progress" : "Completed" %>
  </td>

  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
    <%= target.team.nil? ? "-" : target.team.name %>
  </td>

  <td class="py-4 px-6 text-sm font-medium text-center whitespace-nowrap">
  <%= button_to "Edit", edit_target_path(target), :method => "get", :class => "pr-4 text-green-900" %>
  <%= button_to "Delete", target, method: :delete, :class => "pl-1 text-red-900" %>
  </td>
</tr>
