<p style="color: green"><%= notice %></p>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>

<h1>Users</h1>

<div id="users">
<table style="width: 90%">
<tr>
  <% @user_attributes.each do |attr| %>
  <th> <%= attr %> </th>
  <% end %>
  <th>
    <%= "Options" %>
  </th>
  <% @users.each do |user| %>
    <%= render user %>

  <% end %>
</tr>
</table>
</div>

<br>
<%= link_to "New user", new_user_path %>
